@font-face{
	font-family: 'Socialico';
	src:'font/Socialico/Socialico.ttf';
}

body{
	display: flex;
	font-family: 'Montserrat';
	margin: 0;
	background: linear-gradient(-10deg, #2A363B, #E84A5F, #FF847C, #FECEA8, #99B898);
}

img{
	margin-left:400px;
}

h1{
	font-family: FreeMono, monospace;
	font-size: 30px;
}

h2{
	font-family: FreeMono, monospace;
	font-size: 30px;
}

h4{
	font-family: FreeMono, monospace;
}

p{
	font-family: FreeMono, monospace;
}

.image{
	margin-left: 200px;
}

.about{
	margin-left: 350px;
}

#header{
	padding: 0 10px;
	background-color: #3f3f3f;
}

#logo{
	display: inline-block;
}

#logo h1{
	margin: 0 auto;
}

#logo a{
	text-decoration: none;
	color: #FFF;
}

#navigation{
	display: inline-block;
}

#navigation ul{
	margin: 0;
}

#navigation ul a{
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
}

.link {
	display: inline-block;
	padding: 15px 20px;
	transition: background-color .5s ease;
}

.link:hover{
	background-color: #238781;
}

#section1{
	padding: 50px 15px;
	text-align: center;
}

#section1 .categories{
	display: flex;
	justify-content: center;
}

#section1 .categories .category{
	flex-basis: 30%;
	margin: 0 10px;
	position: relative;
}

#section1 .categories .category img{
	width: 100%;
	height: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 2px 2px 8px 2px #000;
}

#section1 .categories .category span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 4px;
	background: rgba(0,0,0,.6);
	color: #FFF;
	font-weight: bold;
	padding: 20px 10px;
	font-size: 20px;
	text-align: left;
}

#section2{
	text-align:center;
	background-color:#677F7B;
	float:center;
	width:90%;
	padding:0 30px;
	box-sizing: border-box;
	margin-top:50px;
	border:solid 1px;
}

#section2 .image-container{
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}

#section2 .image-container img{
	width: 350px;
	height: 500px;
	margin-left: -260px;
}

#section2 .caption-container{
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}

#section2 .caption-container p{
	font-size: 20px;
	padding: 0 10px;
	text-align: left;
}

#footer{
	padding: 20px 20px;
	text-align: center;
	background: #54a;
}

#footer .social-links a{
	font-family: 'Socialico';
	font-size: 20px;
}
.slider{
	width: 1500px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	align-content: center;
	margin-left: 10px;
	margin-top: 10px;
}

.slides{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 1500px;
	height: 500px;
}

.navigation-manual{
	position: absolute;
	width: 1500px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: white;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 1500px;
	justify-content: center;
	margin-top: 460px;
}

.navigation-auto div{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: white;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	border:2px;
}

#notmain{
	background: linear-gradient(-10deg, #47CACC, #63BCC9, #CDB3D4, #E7B7C8, #FFBE88);
	float:center;
	width:90%;
	padding:0 30px;
	box-sizing: border-box;
	margin-left: 70px;
	margin-top:50px;
	border:solid 1px;
}

#notmain li{
	padding-bottom:20px;
}

#footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:10px;
	margin:10px;
	font-size:12px;
	margin-top:50px;
}